// css generico
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generics */
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* utils */
.container {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
