@use "./variables" as *;

// mixins
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-buttons {
  padding: 15px;
  background-color: $darkblue;
  text-transform: uppercase;
}
